{% extends 'base.html' %}

{% block content%}

<div class="container">

    <div class="row justify-content-end my-3">
        <a class="btn btn-primary" href= {{ url_for('korisnik_novi') }} role="button">Dodaj korisnika</a>
      </div>

    <div class="row">
      <table class="table col-12">
        <thead>
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Email</th>
            <th scope="col">Akcije</th>
          </tr>
        </thead>
        <tbody>
          {% for korisnik in korisnici %}
          <tr>
            <td>{{ korisnik.ime }}</td>
            <td>{{ korisnik.prezime }}</td>
            <td>{{ korisnik.email }}</td>
            <td>
                <a class="icon-btn orange text-decoration-none" href={{ url_for('korisnik_izmena', id=korisnik.id) }} role="button">
                    <i class="fas fa-edit"></i>
                </a>
        
                <a class="icon-btn red" href={{ url_for('korisnik_brisanje', id=korisnik.id) }}>
                  <i class="fas fa-trash"></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </ table>
    </div>
</div>

{% endblock %}