{% extends 'base.html' %} 
{% block content %}
<div class="container">
	<div class="row justify-content-center my-5">	
		<img src="../static/logo.png" class="text-center">
	</div>
	
	<div class="row justify-content-center">
		<div class="col-10 col-lg-6">
			<form action="{{ url_for('login') }}" method="POST">
				<!-- email -->
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
			  </div>
			  
				<!-- password -->
			  <div class="form-group">
			    <label for="pass">Password</label>
			    <input type="password" class="form-control" id="lozinka" name="lozinka" required>
			  </div>
			  
			  <input type="submit" class="btn btn-primary" value="Prijavi se">
			  <!-- <a class="btn btn-primary" href="{{ url_for('studenti') }}" role="button">Prijavi se</a> -->
			</form c>
		</div>
	</div>
</div>

{% endblock %}
