{% extends 'base.html' %}
{% block content %}
<div class='container col-lg-2 col-xs-12'>

  <div class="my-5">
    <h3>Izmeni predmet</h3>
  </div>

  <form action={{ url_for('predmet_izmena', id=predmet.id) }} method="POST">
    <div class="form-group">
      <label for="sifra">Sifra</label>
      <input type="text" class="form-control" id="sifra" name="sifra" value="{{ predmet.sifra }}">
    </div>

    
    <div class="form-group">
      <label for="naziv">Naziv</label>
      <input type="text" class="form-control" id="naziv" name="naziv" value="{{ predmet.naziv }}">
    </div>

    <div class="form-group">
      <label for="godina">Godina studija</label>
      <input type="text" class="form-control" id="godina_studija" name="godina_studija" value="{{ predmet.godina_studija }}">
    </div>

    <div class="form-group">
      <label for="espb">ESPB</label>
      <input type="text" class="form-control" id="espb" name="espb" value="{{ predmet.espb }}">
    </div>
    
    <div class="form-group">
      <label for="odaberi_predmet">Obavezni/Izborni</label>
      <select class="form-control" id="obavezni_izborni" name="obavezni_izborni">
        <option value="" disabled>Status predmeta</option>
        <option value="Obavezni" {% if predmet.obavezni_izborni=='Obavezni' %} selected {% endif %}>Obavezni</option>
        <option value="Izborni" {% if predmet.obavezni_izborni=='Izborni' %} selected {% endif %}>Izborni</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
  </form>
      
</div>

{% endblock %}